
<% @article.comments.each do |c| %>
    <p>
        <strong>Commenter:</strong>
        <%= c.author.username %>
    </p>

    <p>
        <strong>Comment:</strong>
        <%= c.body %>
    </p>

    <p>
        <%= link_to 'Delete',[c.author,c.article,c],data: {turbo_method: :delete,turbo_confirm: "Are you sure?"}%>
    </p>
<% end %>