
<footer id="" class="footer mt-auto py-3 bg-dark">
  <div class="container text-center">
    <small class="text-light">Copyright &copy; <%= link_to "Deepak Tewari", "https://www.linkedin.com/in/deepak-tewari-353809233/", class: "text-white" %></small>
  </div>
</footer>